/* Root */
:root {
    --primary-color-0: white;
    --primary-color-1: #dde7dd;
    --primary-color-2: #6a8f6b;
    --primary-color-3: #221c42;
    --primary-color-4: #ffe0c9;
    --primary-color-5: #FAF9F6;
    --bottom-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    --thumbnail-size: 150px;

}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color-0);
}

h1 {
    color: var(--primary-color-2);
}

p {
 font-size: clamp(12px, 1vw, 18px);
}

a {
    color: white;
}

a:hover {
    color: var(--primary-color-4)
}

/* //////////////////////////////// */
/* Nav */
.navbar {
    background-color: var(--primary-color-0);
    padding: 20px;
    box-shadow: var(--bottom-shadow)
}

.navbar-brand {
    color: var(--primary-color-2);
    font-size: 36px;
    font-weight: 800;
}

/* //////////////////////////////// */
/* Header */
.header {
    min-height: 40vh;
}

.jumbotron {
    height: 70vh;
    background-image: url('../assets/mug2-header.jpg');
    background-size:cover;
    background-position: center center;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.display-5 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color-0);
    text-shadow: var(--box-shadow);

}

.lead {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color-0);
    letter-spacing: 1px;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-shadow: var(--box-shadow);

}

@media only screen and (min-width: 768px) {
    .subtitle {
        justify-content: center;
        padding-right: 50px;
        padding-left: 50px;
    }

    
}

@media only screen and (max-width: 768px) {
   .col-sm-2{
        display: none;
   }

    
}

.my-4 {
    color: black;
}

/* ////////////////////////////////  */

/* Authors */
.row {
    height: calc(60vh / 3);
}

.author-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px 0 10px; 

}



.thumbnail1 {
    background-image: url('/assets/jp-thumbnail.jpeg');
    background-size: var(--thumbnail-size);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

}

.thumbnail2 {
    background-image: url('/assets/cs-thumbnail.jpeg');
    background-size: var(--thumbnail-size);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.thumbnail3 {
    background-image: url('/assets/nr-thumbnail.jpeg');
    background-size: var(--thumbnail-size);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

@media only screen and (min-width: 768px) {
    .col-sm-2 {
        display: hide;
    }
}

    .author-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        text-align: justify;
        text-justify: distribute-all-lines;
        margin: 10px 20px 0 20px;
    }

    /* ////////////////////////////////  */
    /* Form */
    #submitBtn {
        background-color: var(--primary-color-3);
        box-shadow: var(--box-shadow);
    }